/* Escribe tu css aqui */
div{
  width: 120px;
  height: 120px;
  background-color: gray;
  margin-bottom: 15px;
  border: 1px solid #000000;
}
.contenedora{
  width: 378px;
  height: 125px;
  padding: 10px;
}
.small{
  display: inline-block;
}
.box{
  display: inline-block;
  margin-right: 10px;
}